@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.jquery-wrap {
    width: 800px;
    margin: 0 auto;
}

.top-page {
    padding: 83px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.slider img {
    width: 100%;
    height: 500px;
}

.slick-prev::before,
.slick-next::before {
    color: black !important;
}

h1 {
    font-size: 50px;
}

.slider-1 {
    margin-top: 70px;
}

.color-practice {
    display: grid;
}

.re-top {
    text-decoration: none;
    color: black;
}

.re-top:hover {
    color: red;
}

.container-1 {
    width: 800px;
    margin: 0 auto;


    margin-top: 60px;
}

.container-2 {
    width: 800px;
    margin: 0 auto;
    background: #d7f0d7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.header-1 {
    height: 80px;
    background: lime;
}

.header-2 {
    height: 150px;
    background: lime;
}

.main-1 {
    height: 300px;
    display: flex;
}

.main-2 {

    display: flex;
    flex: 1;
}

.footer-1 {
    height: 150px;
    background: blue;
}

.footer-2 {
    height: 150px;
    background: blue;
}

.left-1 {
    flex: 3;
}

.right-1 {
    flex: 1;
    background: orange;
}

.left-1 li {
    list-style: none;
}

.left-2 {
    width: 150px;
}

.right-2 {
    width: 150px;
    background: orange;
}

.center-2 {
    background: #666;
    flex: 1;
}

.left-2 li {
    list-style: none;
}

.container-3 {
    background: #d7f0d7;
    margin-top: 60px;
}


header {
    height: 80px;
    background: limegreen;
}

.nav-wrap {
    display: flex;
    min-height: 100vh;
}

main {
    width: 800px;
    margin: 0 auto;
    background: #666;
}

nav {
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}

nav li {
    list-style: none;
    background: orange;
}

footer {
    height: 300px;
    margin-top: auto;
    background: blue;
}

.open {
    color: white;
    font-size: 60px;

}

.open,
.close {
    display: none;
}

input[type="checkbox"] {
    position: absolute;
    left: -50vw;
}

.container-4 {
    width: 800px;
    margin: 0 auto;

    min-height: 100vh;
}



.flex-box {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin: 0 auto;
    background: #666;
}

.flex-content {
    width: 100px;
    height: 100px;
    background: white;
    margin: 25px;
}

.container-5 {
    background: orange;
    width: 900px;
    margin: 0 auto;
    min-height: 100vh;
}

.flex-content-5 {
    text-align: center;
    width: 80px;
    height: 100vh;
    background: white;
    border: 1px solid black;

}

.container-6 {}

.flex-box-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.container-6 {
    margin-top: 60px;
}

.container-4 {
    margin-top: 60px;
}

.nav-wrap-6 {
    display: flex;
    min-height: 100vh;
}

.main-6 {
    width: 800px;
    margin: 0 auto;
    background: #666;
}

.nav-6 {
    min-width: 250px;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}

.nav-6 li {
    background: orange;
}

.footer-6 {
    height: 300px;
    margin-top: auto;
    background: blue;
}

.footer-ss {
    display: none;
    background: blue;
}

.container-7 {
    margin-top: 60px;
}

.contact-form {
    width: 800px;
    padding: 90px 0 60px;
    background: orange;
}



input,
textarea {
    font-size: 15px;
    width: 400px;
    padding: 8px 14px;
}

input::placeholder,
textarea::placeholder {
    color: red;
}

.submit-button {
    width: 400px;
    color: white;
    background: red;
    border-radius: 50px;
    border: none;

}

.submit-button:hover {
    opacity: 0.8;
}
